---
caddy_apply_config: true
caddy_config_mode: json
caddy_json_config: {}
caddy_caddyfile: ""

caddy_apt_repo_url: https://dl.cloudsmith.io/public/caddy/stable/deb/debian
caddy_apt_key_url: "https://dl.cloudsmith.io/public/caddy/stable/gpg.key"

caddy_rpm_repo:
  "https://download.copr.fedorainfracloud.org/results/@caddy/caddy/{{ 'fedora' if ansible_distribution | lower == 'fedora'
  else 'epel' }}-$releasever-$basearch/"
caddy_rpm_key: "https://download.copr.fedorainfracloud.org/results/@caddy/caddy/pubkey.gpg"

caddy_config_managed_string: "{{ ansible_managed | d('Ansible Managed, no not modify!') }}"

caddy_additionnal_modules: []

caddy_bin_path: "/usr/bin/caddy"
caddy_custom_bin_path: "/usr/local/bin/caddy.custom"
caddy_backup_bin_path: "/usr/bin/caddy.default"
