---
# Configuration for the caddy module tests.
# This template is rendered by render_config.sh, called from tox
# You can use these variable names in your module integration tests.

caddy_host: {{ admin_url }}
