---
- name: Check if caddy backup binary exists
  ansible.builtin.stat:
    path: "{{ caddy_backup_bin_path }}"
  register: caddy_backup_stat

- name: Backup caddy binary
  ansible.builtin.copy:
    src: "{{ caddy_bin_path }}"
    dest: "{{ caddy_backup_bin_path }}"
    owner: root
    group: root
    mode: "0755"
    remote_src: true
  when: not caddy_backup_stat.stat.exists

- name: Check if caddy binary is linked to custom binary
  ansible.builtin.stat:
    path: "{{ caddy_bin_path }}"
  register: caddy_bin_stat

- name: Remove caddy binary file if not linked
  ansible.builtin.file:
    path: "{{ caddy_bin_path }}"
    state: absent
  when: not caddy_bin_stat.stat.islnk
