---
- name: Check if caddy derivation exists
  ansible.builtin.stat:
    path: "{{ caddy_backup_bin_path }}"
  register: caddy_backup_stat

- name: Create derivation if it does not exist
  community.general.dpkg_divert:
    path: "{{ caddy_bin_path }}"
    divert: "{{ caddy_backup_bin_path }}"
    rename: true
  when: not caddy_backup_stat.stat.exists
