---
- name: Requirements are installed
  package:
    name: "{{ caddy_server_packages }}"

- name: Perform distro-specific install tasks
  include_tasks: "install_{{ ansible_os_family | lower }}.yml"

- name: Caddy is installed
  package:
    name: caddy
    update_cache: true
  notify: Reload Caddy

- name: Create custom installation
  include_tasks: customize.yml
  when: caddy_additionnal_modules is defined and caddy_additionnal_modules | length > 0
