---
- name: Load distribution-specific vars
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] | lower }}.yml"

- name: Run Checks
  include_tasks: check.yml

- name: Perform Caddy install
  include_tasks: install.yml

- name: Configure Caddy
  ansible.builtin.include_tasks: "config_{{ caddy_config_mode | lower }}.yml"
  when: caddy_apply_config
